<div class="container">
    <div style="background:transparent !important" class="jumbotron vertical-center">
        <p dir="ltr">
    Comida redonda con la que se pueden ahogar fácilmente: Uvas, jitomates cherry, salchichas, cerezas etc. Estas hay que cortarlas verticalmente para evitar
    que sean una forma redonda.
</p>
<p dir="ltr">
    Sal: la cantidad máxima que un bebé debe consumir de sal es ¼ de cucharada porque os riñones tu bebé no están desarrollados para eliminar adecuadamente la
    sal. La fórmula y la leche materna ya contienen sodio entonces agregarle aunque sea un poco de sal a la comida de tu bebé seguramente pasará los límites
    recomendados.
</p>
<p dir="ltr">
    Azúcar: (Esto es una preferencia personal a la comida endulzada que desarrollamos desgraciadamente porque casi todo contiene azúcar. Entonces nuestro
    paladar se acostumbra a las cosas endulzadas. Evita esto con tu bebé! Es un excelente hábito de vida. En otros países, Japón por ejemplo, se empalagan muy
    fácilmente porque no tienen un paladar “sobre endulzado”.
</p>
<p dir="ltr">
    Miel: La causa más común de botulismo infantil es el consumo de miel porque los bebés no producen suficiente ácidos estomacales para desactivar esporas
    potenciales.
</p>
<p dir="ltr">
    Cereal: Si esta muy duro o grande, una opción es remojarlo en leche o yogur.
</p>
<p dir="ltr">
    Palomitas
</p>
<p dir="ltr">
    Salchichas: Las salchichas además de tener mucha sal, tienen nitrito de sodio, glutamato monosódico, normalmente escondido en el término “sabores
    artificiales” y muchas otras cosas que tu bebé no necesita.
</p>
<p dir="ltr">
    Frutos secos
</p>
<p dir="ltr">
    Chicle
</p>
<p dir="ltr">
    Nueces, cacahuates, cashews, cualquier tipo de nuez: Puedes hacerlos mantequilla de cacahuate y ofrecerlo untado en pan o fruta pero nunca enteros.
</p>
<p dir="ltr">
    Dulces
</p>
<p dir="ltr">
    Papitas
</p>
<p dir="ltr">
    Comida chatarra
</p>
<p dir="ltr">
    Huesos: Debes retirar huesos de la carne antes de dársela a tu bebé. Excepto las sardinas.
</p>
<p dir="ltr">
    Cualquier comida que cause alergia en la familia directa (mamá, papá o abuelos)
</p>
<p dir="ltr">
    Huevos no bien cocidos
</p>
<p dir="ltr">
    Pescados con alto nivel de mercurio
</p>
<p dir="ltr">
    Enlatados por su alto contenido de sal
</p>
<p>
    Alimentos preparados (por la misma razón)
</p>
    </div>
</div>