<div class="container">
    <div style="background:transparent !important" class="jumbotron vertical-center">
    <p dir="ltr">
    <b class="onceUpon">De acuerdo a algunos estudios </b>(como este y este) y quienes practicamos baby led weaning o auto alimentación se ha visto que los bebés que comienzan de esta
    manera la introducción a los sólidos:
</p>
<br/>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Al introducir de manera lúdica y divertida la comida, el bebé tendrá asociaciones positivas con la comida. Si dejas que el bebé vaya a su ritmo y
            descubra por él mismo este nuevo universo, tendrá una relación saludable con la comida. No tendrás que pelear y suplicar porque tu hijo se siente a
            comer o se coma sus zanahorias. La comida será un placer para él desde pequeno. Este es uno de los objetivos más importantes de baby led weaning o
            alimentación: establecer una relación positiva con la comida. La hora de la comida no sera batalla ni una “lucha de poder” sino una experiencia
            positiva.
        </p>
    </li>
</ul>
<br/>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Disminuyen el riesgo de obesidad infantil comparados a los bebés que los alimentan los papás. ¿Por qué? Porque al alimentar con cuchara, son los papás
            quienes están en control. Ellos deciden qué tan deprisa come el bebé y que cantidad, muchas veces ignorando las señales de saciedad. Es muy común
            oír a papás decir, “un cucharada más” o “te falta un poco para terminar el frasco”. Esto contribuye a un exceso en calorías y más alarmante aún, a
            una desensibilización a la capacidad que tienen los bebés de auto regulación (saber cuando están satisfechos y dejar de comer). Esta capacidad la
            podemos observar con los bebés amamantados: cuando están satisfechos, dejan de comer y la mama comprende que la comida ha terminado porque a
            diferencia de una botella, un seno no puede ser forzado dentro de la boca del bebé.
        </p>
    </li>
</ul>
<br/>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Se familiarizan con diferentes texturas y sabores desde pequeños, desarrollando un paladar diverso y propiciando a que sean buenos comedores de
            grandes. También existen estudios que demuestran que a los bebés a quienes se les introduce una variedad de alimentos a temprana edad son menos
            propensos a sufrir de alergias de más grandes.
        </p>
    </li>
</ul>
<br/>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Desarrollan dexteridad manual y ayuda su coordinación óculo-manual (tomar cosas con la mano y coordinar hasta llevarlo a la boca).
        </p>
    </li>
</ul>
<br/>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Aprenden a masticar en el momento preciso: primero aprenden a masticar y luego a tragar disminuyendo el riesgo de ahogamiento.
        </p>
    </li>
</ul>
<br/>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            El bebé forma parte en la comida familiar, participa de igual manera que los demás integrantes de la familia.
        </p>
    </li>
</ul>
<br/>
<p dir="ltr">
    Aprende a coger con la mano (psicomotricidad fina), aprende a llevarselo a la boca, aprende a notar los diferentes sabores y texturas de los alimentos,
    aprende a tomar decisiones…aprende a masticar aunque no tenga dientes… aprende a deglutir sólidos y aprende sobretodo que comer es agradable. - Carlos
    Gonzalez
</p>
<br/>
<p dir="ltr">
    Aunque hay muchos beneficios para hacer baby led weaning o auto alimentación, debes tener en cuenta algunas cosas:
</p>
<br/>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Es un batidero! Los primeros meses todo terminara batido: el bebé, su ropa, la silla, el piso. Vas a tener que limpiar y lavar todo cada vez que
            tengan una ‘sesión’ de comida.
        </p>
    </li>
</ul>
<br/>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Puede ser muy lento. Dependiendo del dia y el humor de tu bebé, habrá días que juegue encantado con su comida media hora sin probar bocado. Tienes
            que tener paciencia y recordar que lo estás introduciendo a un nuevo mundo, deja que descubra a su tiempo, no lo apresures. Además los primeros
            meses la cantidad que comen es prácticamente nula, pero no pierdas la paciencia, aunque parezca que solo juegan están desarrollando importantes
            habilidades. Espera un poco más y pronto te sorprenderás de cuánto come! Además no olvides que su principal fuente de nutrición es la leche y sus
            tomas deben de seguir exactamente iguales.
        </p>
    </li>
</ul>
<br/>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Puede haber un riesgo de deficiencia de hierro si la dieta de tu bebé es leche materna exclusivamente. Por eso se debe privilegiar alimentos altos
            en hierro como la carne, pescado, pollo y huevo. Pero este riesgo también existe si decides dar purés y papillas y comienzas con verduras y frutas.
            Sea cual sea la técnica de alimentación que hagas (papillas, baby led weaning o lo que sea), asegura de incluir alimentos altos en hierro desde el
            principio.
        </p>
    </li>
</ul>
<br/>
<p>
    Y no es un todo o nada. Algunas familias deciden combinar pures con baby led weaning. Los purés son prácticos y hay unos que son hechos de 100% frutas o
    verduras, sin azúcar ni conservadores. También hay bebés para quienes baby led weaning o auto alimentación no es lo óptimo. Lo importante es que funcione
    para ti y tu familia. Además hay conceptos alrededor de baby led weaning o auto alimentación que son útiles para todos.
</p>
</div>
</div>