<div class="container">
    <div style="background:transparent !important" class="jumbotron vertical-center">
        <p>
        <b class="onceUpon>">Alrededor de baby led weaning existen muchos conceptos </b>que no le son 
        exclusivos, sino más bien pueden ser aplicados por todas las familias sin importar de que manera 
        le dan de comer a sus hijos. Aqui algunos de los conceptos más importantes que puedes comenzar a 
        hacer desde hoy:    
        </p>
        <p dir="ltr">
    Respetar las normas básicas de seguridad. No introduzcas sólidos antes de que tu bebé esté listo. Dale 
    a tu hijo comida sin sal, conservadores ni azúcar y
    evita alimentos procesados. Nunca dejes a tu hijo solo mientras come. No le des comida redonda sin cortar verticalmente como las uvas y los jitomates
    cherry hasta que tengan mas de 5 años. Tu hijo debería comer de preferencia sentado pero nunca mientras corre, muchos accidentes pasan cuando el niño le da
    un último bocado y se va corriendo. En ese momento se puede ahogar.
</p>
<br/>
<p dir="ltr">
    Establecer una buena relación alimenticia. Nunca uses la comida como recompensa ni castigo. Habitos alimenticios sanos comienzan desde la infancia. Si la
    hora de la comida es un momento de placer y convivencia, estás estableciendo patrones sanos entre la comida y tu hijo. En cambio si la hora de la comida se
    convierte en un campo de batalla y una lucha de poder, tu hijo tendrá asociaciones negativas con la comida que podrían persistir toda su vida.
</p>
<br/>
<p dir="ltr">
    Reconocer las señales de saciedad y confiar en que tu bebe ya esta satisfecho. Habra dias que coma mucho y otros no tanto, igual que tu y todos. Respeta
    cuando te muestra, o dice si es mayor y ya habla, que ya no quiere. Esta habilidad que tiene para reconocer que está satisfecho es primordial para evitar
    la obesidad infantil y mantenerse sano. Si tu bebé continúa en su peso, crece y tiene la misma energía y vitalidad que siempre, no te preocupes si uno o
    dos dias come menos de lo normal.
</p>
<br/>
<p dir="ltr">
    Esperar a que tu bebé esté listo para comenzar sólidos. Si tiene menos de 6 meses, al menos de que exista alguna condición médica, es poco probable que tu
    bebé esté listo. Si todavía tiene el reflejo de extrusión, es un claro indicador de que no está listo. Estas son algunas indicaciones para saber si tu bebé
    está o no listo.
</p>
<br/>
<p>
    Aceptar que cada bebé es único y pasa por etapas. Lo que te funcionó con un hijo tal vez no 
    funcione con otro. Y lo que le encantaba a tu bebé ayer, hoy tal vez no sea el caso. 
    Un rechazo, (o dos o trece!) no es razón para dejar de ofrecerle el alimento. También es bueno 
    saber que los bebés suelen ser más aventureros y dispuestos a aceptar comidas diferentes que los niños de 
    2 años. Entonces no te sorprendas que tu bebé devorador de mango y aguacate de repente los rechace. Sigue 
    ofreciéndoselos y muy probablemente se los volverá a comer.
</p>
    </div>
</div>