<div class="container">
    <div style="background:transparent !important" class="jumbotron vertical-center">
        <p dir="ltr">
    <b class="onceUpon">Los expertos recomiendan una dieta exclusiva de leche</b> (materna o fórmula) hasta los 6 meses de edad y hasta pasando los 2 anos en complemento a los
    sólidos. Es entre los 6 y 7 meses de edad que el aparato digestivo de tu bebé está lo suficientemente maduro para comenzar a complementar su alimentación
    con sólidos. Sin importar de qué manera lo vas a hacer, esperate hasta que tenga al menos 6 meses y aun mejor hasta que cumpla con los requisitos que se
    enlistan en esta página:
</p>
<br/>
<p dir="ltr">
    Cuando comenzar con sólidos depende de tu bebé. El sera quien te indique si está físicamente desarrollado y listo. Recuerda que cada niño es diferente y se
    desarrolla a su propio paso. Reitero que esta lista debería aplicarse para cualquier manera de comenzar con sólidos pero es IMPERATIVA si practicas baby
    led weaning o auto alimentacion. En este caso, tu bebé tiene que cumplir con todos los requisitos antes de comenzar. Aquí las indicaciones de que pueden
    empezar:
</p>
<br/>
<p dir="ltr">
    Tu bebé tiene al menos 6 meses, no hay ninguna urgencia por comenzar, la leche materna lo abasta con todo lo que necesita entonces no te preocupes si tu
    bebé no parece estar listo hasta los 7 meses.
</p>
<br/>
<p dir="ltr">
    Tu bebé mantiene la cabeza perfectamente levantada, es capaz de sentarse cómodamente en una sillita alta o silla de bebé y mantener perfecto control de su
    cabeza. No quiere decir que se pueda sentar solo sin apoyo pero si debe de poderse sentar derecho en una silla. ?Porque? Porque a la hora de comer la
    cabeza, garganta y estomago de tu bebé deben estar perfectamente alineados por su seguridad.
</p>
<br/>
<p dir="ltr">
    Tu bebé ya no tiene el reflejo de extrusión, el movimiento que hace tu bebé con su lengua para expulsar cualquier no-líquido de su boca. Este reflejo cuida
    a tu bebé ya que se expulsa al exterior cualquier cosa otra que la leche. Es su manera de decirnos que todavia no estan listos para ningun otro alimento.
</p>
<br/>
<p dir="ltr">
    Tu bebé muestra interés cuando comes, está interesado en lo que haces a la hora de comer y sobre lo que hay en tu plato. Tal vez trate de robarte un pedazo
    de lo que estés comiendo.
</p>
<br/>
<p dir="ltr">
    Tu bebé es capaz de agarrar objetos y llevarselos a la boca, aunque todavía no domine el agarre de pinza (tomar objetos entre el pulgar y el índice). Este
    normalmente es adquirido a partir del 8avo mes y es importante para atrapar objetos pequenos como chicharos.
</p>
<br/>
<p dir="ltr">
    Para comenzar con baby led weaning o autoalimentacion, tu bebe tiene que cumplir con todos los requisitos. Si le falta alguno todavía no está físicamente
    listo y no debes de intentarlo ya que lo podrías poner en peligro. Tu bebé estara listo a su ritmo y cuando lo este podrás comenzar baby led weaning o auto
    alimentacion. Hasta entonces ten paciencia y continúa dandole sus tomas de leche. No te preocupes por los nutrientes, la leche materna tiene todo lo que
    necesita. Consulta con tu pediatra antes de empezar para saber si este método es adecuado para ti y tu bebé. No hay ninguna razón por la cual no lo sea al
    menos de que tu bebe tenga algun impedimento fisico o un retraso en el desarrollo, haya nacido prematuro (menos de 37 semanas de gestacion) o tenga
    problemas para deglutir o comer.
</p>
<div>
    <br/>
</div>
    </div>
</div>

