<div class="container">
    <div style="background:transparent !important" class="jumbotron vertical-center">
        <div class="container content">
            <p dir="ltr">
                <b class="onceUpon">Alrededor de los 6 meses de edad </b>se recomienda a las mamás que han amamantado exclusivamente de comenzar con alimentos altos en hierro. Porque hasta ese momento, la leche materna proporciona todo los nutrientes
                necesarios además de importantes anticuerpos y muchos beneficios más. Pero a partir de los 6 meses mas o menos, el hierro puede comenzar a faltar. Esto es particularmente cierto si tu bebe fue de bajo peso al nacer, prematuro o si la mamá
                tuvo o tiene deficiencia de hierro.
            </p>
            <br/>
            <p dir="ltr">
                Al comenzar la introducción a sólidos debes tratar de asegurar una cantidad suficiente de hierro en la dieta de tu bebé. Sobre todo si su dieta es 100% leche materna, ya que la fórmula está fortificada con hierro. Esto es cierto tanto si empiezas con
                pures o baby led weaning. A la hora de complementar con sólidos debes favorecer aquellos alimentos ricos en hierro.
            </p>
            <br/>
            <p dir="ltr">
                Comúnmente los cereales fortificados con hierro suelen ser el estándar para asegurar una dieta con suficiente hierro pero estos son esencialmente una combinación de agua, aceites vegetales y al menos 4 o hasta 6 distintos tipos de azúcar. En su lugar
                busca avena fortificada con hierro que suele tener menos cantidades de azúcares y un mayor valor nutritivo.
            </p>
            <br/>
            <p dir="ltr">
                A continuación hay una lista de comida alta en hierro. La carne roja, aves y pescado son la mejor opción. Trata de ofrecer una proteína diaria. Puedes hacer patés o cremas y untarlas en pan integral o ofrecerlos como dip y dejar que tu bebé use sus manos
                (probablemente) o frutas y vegetales para comérselo.
            </p>
            <br/>
            <ul>
                <li dir="ltr">
                    <p dir="ltr">
                        Carne roja*
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Aves*
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Pescados*
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Cordero*
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Jamon*
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Avena fortificada con hierro
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Frijoles
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Espinaca y col rizada (kale en ingles)
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Chicharos
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Hígado en trozos o paté*
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Lentejas
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Huevo muy bien cocido
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Hummus
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Garbanzos
                    </p>
                </li>
            </ul>
            <br/>
            <p dir="ltr">
                Además es importante saber que existen dos tipos de hierro: el hémico (de origen animal) y el no hémico (de origen vegetal) y se absorben en un 20% a 30% y 3% a 8% respectivamente. Para mejorar la absorción del hierro no hémico siempre es bueno consumir
                al mismo tiempo alimentos que contengan vitamina C:
            </p>
            <br/>
            <ul>
                <li dir="ltr">
                    <p dir="ltr">
                        Brocoli
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Citricos
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Pimientos
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Fresas
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Jitomates
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Kiwis Papas Piña
                    </p>
                </li>
            </ul>
            <br/>
            <p dir="ltr">
                Y evitar aquellos que inhiben la absorción como la leche de vaca y sus derivados, el salvado de trigo y los productos de soya.
            </p>
            <br/>
            <p dir="ltr">
                * De vez en cuando puedes hacer un paté y untarlo en pan o como dip
            </p>
            <div>
                <br/>
                <p> Entre los 7 y 12 meses de edad, se recomiendan 11mg de hierro al darios. La formula suele tener 12 mg por litro, pero varia segun la marca. Algunos pediatras han expresado reservaciones acerca de baby led weaning porque no saben si al
                    complementar la dieta de esta manera se puedan llegar a la dosis recomendada. Pero comenzar con papillas y purés o de cualquier otra manera, resulta igual de dificil si no se comienza con alimentos altos en hierro. Evidencia de esto
                    es la epidemia de anemia por deficiencia de hierro que existe en Mexico donde ocurre en el 38% de ninos entre 12 a 23 meses de edad.</p>
                <br/>
                <p>Entonces es muy importante comenzar a ofrecer alimentos altos en hierro sin importar de que manera comienzas con sólidos.</p>
            </div>
        </div>
    </div>
</div>