<div class="container">
    <div style="background:transparent !important" class="jumbotron vertical-center">
        <div class="container content">
            <p dir="ltr">
                <b class="onceUpon">Hasta al menos los 6 meses de edad,</b> la dieta de tu bebé debe ser 100% exclusivamente leche materna o fórmula. Y esta dieta cumple con todos los requerimientos nutritivos de tu bebé hasta ese momento. Alrededor de
                los 6 meses, puede ser un poco antes o despues, tu bebe te indicara que esta listo para comenzar con sólidos. Recuerda que cada bebé es único y diferente y hasta no cumplir con todos los requisitos, no debemos introducir sólidos.
            </p>
            <br/>
            <p dir="ltr">
                Por sólidos se entiende cualquier cosa otra que la leche. Y la introducción de estos únicamente complementan la dieta de tu bebé. Sobre todo durante los primeros meses, las tomas de leche deben continuar idénticas y seguirán siendo la fuente principal
                de nutrición de tu bebé.
            </p>
            <br/>
            <p dir="ltr">
                Con baby led weaning o auto alimentación, si tu bebé ya cumple con todos los requisitos y están listos para comenzar, al principio será una vez al dia o cada dos dias. Recuerda que al principio tu bebe llevara muy poco o tal vez nada a la boca. Será más
                bien una actividad lúdica en la que practica su coordinación óculo-manual y motricidad gruesa (llevar comida con sus manos a la boca) y se familiarizara con diferentes texturas, colores, olores y eventualmente sabores.
            </p>
            <br/>
            <p dir="ltr">
                Y este es uno de los principales objetivos de la introducción de sólidos el primer anio: introducir a bebé a nuevas texturas y sabores mientras que aprende a masticar y deglutir. Si tu bebé sigue en su curva de peso* y se está desarrollando normalmente,
                entonces está comiendo lo suficiente. El baby led weaning o auto alimentación confía en que tu bebé sabe cuando tiene hambre y cuando ha comido suficiente.
            </p>
            <br/>
            <p dir="ltr">
                A los bebés que se les permite alimentarse ellos mismo, parecen aceptar una gran variedad de comidas. Esto es probablemente porque se concentran no solamente en el sabor sino en la experiencia total; explorar la textura, el color, tamaño y forma. Adicionalmente,
                con baby led weaning o auto alimentación los introducimos a especias, dándoles alimentos que saben rico y no los típicos alimentos sosos sin sabor. A ti te gusta la comida desabrida? A los bebés tampoco! Además al permitirles dejar lo
                que no quieran y tomar lo que si, los alientas a probar cosas nuevas y tener una experiencia positiva con la comida y la hora de comer.
            </p>
            <br/>
            <p dir="ltr">
                Dicho eso, el hierro es un aspecto muy importante para el desarrollo de tu bebé y por eso se recomienda privilegiar alimentos altos en hierro.
            </p>
            <br/>
            <p dir="ltr">
                Los principios generales de nutrición para ninos aplican para los bebés que administran su introducción a sólidos. Comida ‘rapida’ (McDonalds, Dominos, Burger King) o preparada no son adecuadas por su alto contenido de grasas y sobre todo sal. No le des
                azúcar y evita saborizantes artificiales. Básicamente dale a tu bebé la comida que preparas tu, evita agregarle sal y en su lugar utiliza especias para darles sazón. Esto es un hábito excelente que podrás incorporar y continuar en tu vida
                diaria.
            </p>
            <br/>
            <p>
                *Ojo: si tu bebé ha sido amamantado exclusivamente desde que nació, su peso podría ser menor que los bebe de formula ya que la leche materna se ajusta al requerimiento calórico de tu bebé y la fórmula es estática, por lo que algunos días aporta calorias
                de mas y esto puede resultar en bebés de mayor peso. Lo importante aquí es que tu bebé siga en su curva. Dicho de otra manera, si tu bebé siempre ha estado en el percentil 30, que siga en el percentil 30.
            </p>
        </div>
    </div>
</div>