<div class="container">
    <div style="background:transparent !important" class="jumbotron vertical-center">
        <p dir="ltr">
    <b class="onceUpon">Los cursos de primeros auxilios </b>son siempre una buena idea, son la diferencia entre la vida y la muerte. Es por eso que es recomendable tomar un curso en
    cualquier etapa de tu vida. Y más aún cuando eres, o seras, mama o papa. Sobre todo cursos de primeros auxilios para bebes y ninos menores. Siempre es
    importante estar preparado para cualquier emergencia.
</p>
<br/>
<p dir="ltr">
    Si no has tomado un curso, siempre es un buen momento. De esta manera estarás preparado para cualquier eventualidad. Recuerda que un bebé o niño pequeño se
    puede ahogar con cualquier objeto que se meta a la boca y el ahogamiento nos sucede también a los adultos entonces sin importar de qué manera vayas a
    introducir sólidos, un curso de primeros auxilios es esencial.
</p>
<div>
    <br/>
</div>
    </div>
</div>