<div class="container">
    <div style="background:transparent !important" class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">¿Cuándo comenzar BLW? </h1>
            <p dir="ltr">
                ¿Qué es la autoalimentacion o baby-led weaning? De manera muy resumida, es una manera de comenzar la introduccion de solidos sin pures ni papillas. Por sólidos se entiende cualquier otra cosa diferente a la leche materna o fórmula, ya que durante los primeros
                6 meses la dieta del bebé debe ser única y exclusivamente leche. Ojo, los sólidos complementan la leche, no son la fuente de nutrición principal.
            </p>
            <br/>
            <p dir="ltr">
                Alrededor de los 6 meses, el sistema digestivo del bebé comienza a madurar y a estar listo para algo diferente a la leche materna (o fórmula). Es entonces que tienes la opción de introducir a tu bebé el maravilloso mundo de la comida.
            </p>
            <br/>
            <p dir="ltr">
                Para ello existen muchas tecnicas. Y aunque comenzar a darle cucharaditas de pures y papillas sigue siendo la mas conocida, existen otras. Eso es lo que es la autoalimentacion: una manera de introducir solidos en la cual tu bebé sea quien mande. De ahí
                el término en inglés “baby-led”, osease dirigido por el bebe y “weaning”, en el sentido británico que quiere decir complementar la alimentación del bebé con sólidos.
            </p>
            <br/>
            <p dir="ltr">
                Con baby led weaning o autoalimentacion puedes ofrecerle a tu bebé comida apropiada para su edad, cortada o ligeramente machacada, que el mismo agarre (o aplaste) y meta a su boca (eventualmente). Tu le proporcionas la comida, el decide como y cuanto
                comer. Es importante que respetes su ritmo y dejes que sea él quien controle lo que meta a su boca, tú nunca debes de introducirle algo a la boca!
            </p>
            <br/>
            <p dir="ltr">
                El objetivo de la alimentación infantil no es nutricional...es educacional. Le damos otros alimentos porque tiene que ir aprendiendo a comer normal. -Carlos Gonzalez
            </p>
            <br/>
            <p dir="ltr">
                Baby led weaning o autoalimentacion es una manera natural y divertida de comenzar una nueva etapa. Tiene muchos beneficios pero se debe saber de qué manera hacerlo correctamente. Te recomiendo que leas ampliamente acerca de este método y decidas si es
                adecuado para tu familia. Además de este sitio, incluyo un enlace al libro de Gill Rapley, quien es quien acuñó el término “baby led weaning” y la autora del libro de referencia. Existe en español y el original en inglés.
            </p>
            <br/>
            <p dir="ltr">
                Puedes decidir mezclar baby led weaning o autoalimentacion con ocasionales pures y papillas. Esto también se vale, no es todo o nada. El chiste es que funcione para ti y tu familia. Y aun si decides comenzar, o continuar, alimentando a tu hijo de otra
                manera te recomiendo echar un ojo a esta sección.
            </p>
        </div>
    </div>
</div>