<div class="container">
    <div style="background:transparent !important" class="jumbotron vertical-center">
<p>
<b class="onceUpon">Esto es lo divertido y fascinante de baby led weaning </b>o autoalimentacion: le puedes ofrecer mucho mas de lo que jamas imaginaste! No anadir sal y es
preferible que tampoco tenga azúcar, aditivos o conservadores ni mucha grasa. Pero excluyendo eso, todo lo que comes tu lo puede comer tu bebé, siempre y
cuando los alimentos sean frescos y nutritivos. Pasta bolognesa? Perfecto! Mango y fresas? Claro! Curry Thai de pollo con pimientos rojos? Si! Olvídate de
lo que crees saber hasta ahora, si tu bebé cumple con los requisitos para comenzar baby led weaning o autoalimentacion, es hora de ayudar a tu bebé a
descubrir el maravilloso mundo de la comida!
</p>
<br/>
<p dir="ltr">
Hay algunos alimentos que son ‘ideales’ para el principio. Porque? Porque son alimentos muy nutritivos, sanos y que se prestan fácilmente a ser manipulados
por manitas pequenas. También es bueno privilegiar alimentos altos en hierro como la carne, pescado, pollo y huevo. Pero en realidad puedes comenzar con lo
que quieras. Además no le temas al sabor y usa especias! Agregale canela, jengibre, perejil, ajo, mantequilla, cebolla, cilantro o lo que quieras para
darle un buen sazón. Deja al lado alimentos sosos y desabridos. También privilegia los alimentos con alto contenido energético y con hierro. Aquí una lista
de alimentos ‘fáciles’ para comenzar baby led weaning o auto alimentacion:
</p>
<br/>
<p dir="ltr">
*Aguacate
</p>
<p dir="ltr">
*Platano
</p>
<p dir="ltr">
*Mango
</p>
<p dir="ltr">
Manzana bien cocida sin cáscara
</p>
<p dir="ltr">
Zanahoria cocida
</p>
<p dir="ltr">
Calabacita cocida
</p>
<p dir="ltr">
Papa cocida o a la francesa (al horno no fritas en aceite)
</p>
<p dir="ltr">
Huevo revuelto**
</p>
<p dir="ltr">
Pasta
</p>
<p dir="ltr">
Pan tostado
</p>
<p dir="ltr">
Pan frances
</p>
<p dir="ltr">
Queso
</p>
<p dir="ltr">
Frijoles machacados**
</p>
<p dir="ltr">
Robalo, sardinas, arenque, trucha arcoiris, salmón, huachinango, curbina, carpa y mero**
</p>
<p dir="ltr">
Higado rallado o pate**
</p>
<p dir="ltr">
Yogur sin azucar (ni frutas, ni purés para endulzarle. El gusto por lo endulzado es una preferencia que desarrollamos después a la comida endulzada pero tu
bebé es nuevo y el yogur sencillo le gustara mucho. Es lo más sano y el mejor).
</p>
<br/>
<p dir="ltr">
Ya que desarrolle el “agarre de pinza”:
</p>
<p dir="ltr">
Frambuesas enteras
</p>
<p dir="ltr">
Fresas partidas
</p>
<p dir="ltr">
Cereal sin azúcar (O con menos de 10% de azúcar como Cheerios sencillos)
</p>
<p dir="ltr">
Bluberries
</p>
<br/>
<p dir="ltr">
Comida con alto contenido energético
</p>
<p dir="ltr">
Toda la comida excepto la mayoría de frutas y verduras
</p>
<p dir="ltr">
Frutas con alto contenido energético: plátano y aguacate
</p>
<p dir="ltr">
Verduras con alto contenido energético: papa, camote y calabaza
</p>
<br/>
<p dir="ltr">
Recuerda que todos los alimentos deben deshacerse fácilmente cuando lo aplastas entre tu pulgar e índice y su tamaño debe ser más largo que el puño de tu
bebé para cuando lo agarre, le sobre un pedazo que pueda probar.
</p>
<br/>
<p dir="ltr">
** Comida alta en hierro. Los alimentos más comunes son la carne, el pescado y las aves. Pero aquí tenemos una lista con más alimentos.
</p>
<br/>
<p dir="ltr">
*A los alimentos ‘resbalosos’ como el aguacate, plátano y mango por ejemplo, les puedes dejar la cascara para que sea mas facil agarrarlos. Al plátano lo
puedes dejar mitad con cáscara y mitad sin, permitiendo a tu bebé de agarrar la parte de cáscara y probar la parte sin cáscara. El mango y aguacate los
puedes partir en rebanadas e igualmente dejarle la cáscara por fuera.
</p>
<br/>
<p dir="ltr">
No olvides que al principio tu bebé no comerá mucho, la hora de la comida será más bien como una actividad divertida. Poco a poco irá asociando que los
objetos con los que juega saben rico. Por eso a la hora de escoger qué alimentos dar, elije comida altamente energética y con hierro. Pero al principio se
trata de dejar a tu bebé explorar texturas, colores y olores. Dejalo que se divierta y diviértete tú! Y no olvides la cámara, habrá momentos memorables!
</p>
<br/>
<p dir="ltr">
Continúa con las tomas de leche normales. Justo después de una toma es el momento ideal para sentarlo en su sillita. Un bebé con hambre o cansado no va a
querer jugar. Se trata de comenzar una buena relación con la comida. Por lo mismo el bebé y tu deben de estar en la mejor disposición.
</p>
<br/>
<p dir="ltr">
Usa tu sentido común al introducir comida. No le des a tu bebé comida chatarra (con altos niveles de sal, azúcar o grasa) ni de restaurante porque suelen
tener mucha sal. Tampoco les des comida peligrosa. Aquí una lista no exhaustiva con algunos de los alimentos a evitar:
</p>
<br/>
<p dir="ltr">
Comida redonda con la que se pueden ahogar fácilmente: Uvas, jitomates cherry, salchichas, cerezas etc. Estas hay que cortarlas verticalmente para evitar
que sean una forma redonda.
</p>
<p dir="ltr">
Sal: la cantidad máxima que un bebé debe consumir de sal es ¼ de cucharada porque os riñones tu bebé no están desarrollados para eliminar adecuadamente la
sal. La fórmula y la leche materna ya contienen sodio entonces agregarle aunque sea un poco de sal a la comida de tu bebé seguramente pasará los límites
recomendados.
</p>
<p dir="ltr">
Azúcar: Esto es una preferencia personal a la comida endulzada que desarrollamos desgraciadamente porque casi todo contiene azúcar. Entonces nuestro
paladar se acostumbra a las cosas endulzadas. Evita esto con tu bebé! Es un excelente hábito de vida. En otros países, Japón por ejemplo, se empalagan muy
fácilmente porque no tienen un paladar “sobre endulzado”.
</p>
<p dir="ltr">
Miel: La causa más común de botulismo infantil es el consumo de miel porque los bebés no producen suficiente ácidos estomacales para desactivar esporas
potenciales
</p>
<p dir="ltr">
Cereal: si esta muy duro o grande, una opción es remojarlo en leche o yogur
</p>
<p dir="ltr">
Palomitas
</p>
<p dir="ltr">
Salchichas*: Las salchichas además de tener mucha sal, tienen nitrito de sodio, glutamato monosódico, normalmente escondido en el término “sabores
artificiales” y muchas otras cosas que tu bebé no necesita
</p>
<p dir="ltr">
Frutos secos*: Puedes utilizarlos para endulzar o cocinados hasta obtener la textura indicada.
</p>
<p dir="ltr">
Chicle*
</p>
<p dir="ltr">
Dulces*
</p>
<p dir="ltr">
Papitas*
</p>
<p dir="ltr">
Pretzels*
</p>
<p dir="ltr">
Nueces*: Puedes hacerlas mantequilla de cacahuate, almendra o de la India y ofrecerla untada en pan o fruta pero nunca entera.
</p>
<p dir="ltr">
Comida chatarra
</p>
<p dir="ltr">
Huesos*: Debes retirar huesos de la carne antes de dársela a tu bebé. Excepto las sardinas.
</p>
<p dir="ltr">
Cualquier comida que cause alergia en la familia directa (mamá, papá o abuelos)
</p>
<p dir="ltr">
Frutas y verduras duras*: Recuerda que deben tener la consistencia correcta (que se pueda deshacer fácilmente entre tu pulgar e índice).
</p>
<p dir="ltr">
Trozos de carne o queso*: Daselos en pedazos grandes que pueda morder con las encías y no le quepa entero en la boca.
</p>
<p dir="ltr">
Huevos no bien cocidos
</p>
<p dir="ltr">
Pescados con alto nivel de mercurio
</p>
<p dir="ltr">
Enlatados por su alto contenido de sal
</p>
<p dir="ltr">
Alimentos preparados (por la misma razón)
</p>
<br/>
<p dir="ltr">
Esta es una lista no exhaustiva de alimentos. Usa tu juicio de lo que sí puedes darle a tu hijo. Si tienes una duda mejor no. Consulta con tu pediatra la
introducción de alimentos sobre todo si hay alergias en tu familia. Pero toma en cuenta que tu pediatra es humano y muchos, tristemente no leen ni se
actualizan acerca de métodos diferentes o nuevos. Si tu pediatra te dice que este método no es recomendable, pregunta porque. Si tiene que ver con el
método en sí y no con el caso particular de tu bebé, recomiendale informarse acerca del método.
</p>
<br/>
<p dir="ltr">
*Alimentos que tienen un alto riesgo de ahogamiento.
</p>
<div>
<br/>
</div>
</div>
</div>