body{
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625;
}

body>div {
    font-size: 1.25rem;
}

h1 {
    font-size: 54px;
    font-size: 5.4rem;
    color: #70548b;
    font-family: 'PT Sans', sans-serif;
}

.entry-title{
    font-size: 54px;
    font-size: 5.4rem;
    margin-bottom: 15px;
    font-family: 'PT Sans Narrow',sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 10px;
}

h2{
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 10px;
  font-size: 42px;
  font-size: 4.2rem;
  font-family: 'PT Sans Narrow',sans-serif;
}

.entry-content {
    font-family: 'PT Sans',sans-serif;
    text-transform: uppercase;
}

h3 {
    font-size: 36px;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 10px;
}

.navbar-default { 
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #ffffff;
}

.navbar-nav a { 
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
  /*color: #ffffff;*/
}

.nav-pills{
  font-size: 16px;
  font-size: 2rem;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: #ffffff;
  /*line-height: 1;
  width: 100%;*/
}

#siteTitle a{
  font-size: 32px;
  font-size: 3.2rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #eb7200; /*orange*/
  /*line-height: 1.2;*/
}

.nav a{
  color: #70548b; /*purple*/
  font-weight: 700;
}

.navbar-links a{
  color: #403A4E; /*gray*/
  font-family: "Garamond", serif;
}

.onceUpon{
  font-weight: bold;
  font-size: larger;
}

.containerVid {
  margin-bottom: 20px;
  padding-bottom: 50px;
  /*padding-left: 80px;*/
}

#videoCarlosTed{
  text-align: center;
}
/* Hide AddToAny vertical share bar when screen is less than 980 pixels wide */
@media screen and (max-width: 680px) {
    .a2a_floating_style.a2a_vertical_style { display: none; }
}

@media screen and (min-width: 768px){
.container .jumbotron {
    padding-top: 8px;
    padding-bottom: 20px;
}

.container .jumbotron{
    padding-top: 10px;
    padding-bottom: 20px;
}

/*.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
  line-height: 1.42857143;
  color: #45342a;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}

.btn-link {
  font-weight: normal;
  color: #337ab7;
  border-radius: 0;
}

a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}*/